.canvas {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  background-color: grey;
  height: 100%;
  width: 100%;
}

canvas {
  position: relative;
  height: 100vh;
  z-index: 1;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  canvas {
    height: 100vw;
    width: 100vw;
  }
}
