.menu {
  position: absolute;
  width: 30vw;
  height: 98vh;
  top: 0;
  right: 0;
  display: none;
}

.tile-selector {
  position: relative;
  z-index: 2;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  min-height: 30%;
  background-color: white;
}

.tile-list div {
  cursor: pointer;
  margin: 10px;
}

.tile-list div:hover {
  opacity: .5;
}

.currently-selected-tile {
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  min-width: 30px;
  min-height: 30px;
  border: 1px solid black;
}

.reset-tile-button {
  font-size: 14px;
  font-weight: normal;
}
