.menu[data-hidden="yes"] {
  display: none;
}

.menu {
  display: block;
  position: absolute;
  height: 100%;
  right: 0;
}

.tile-selector {
  display: block;
  position: relative;
  margin: 0 auto;
  z-index: 2;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: white;
  padding: 20px;
}

.tile-list div {
  cursor: pointer;
  margin: 10px;
}

.tile-list div:hover {
  opacity: .5;
}

.currently-selected-tile {
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  min-width: 30px;
  min-height: 30px;
  border: 1px solid black;
}

.reset-tile-button {
  font-size: 14px;
  font-weight: normal;
}
