.overlay[data-hidden="no"] {
  display: block;
}

.overlay[data-hidden="yes"] {
  display: none;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
}

.overlay__color {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  opacity: 0.3;
  background-color: #000;
}

.menu[data-hidden="no"] {
  display: block;
}

.menu[data-hidden="yes"] {
  display: none;
}

.menu {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
}

.menu__container {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 3;
  display: table;
}

.menu__vertical-middle {
  display: table-cell;
  vertical-align: middle;
}

.menu__horizontal-center {
  display: inline-block;
}

.menu__section-container {
  position: relative;
  z-index: 4;
  background-color: white;
  padding: 20px;
}
