html,
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(230, 230, 230);
  position: relative;
}

canvas {
  display: block;
  /*height: 98vh;*/
  background-color: grey;
}

img.spritesheet {
  display: none;
}

.monster {
  width: 16px;
  height: 14px;
  background-image: url('../sprites/characters-min.png');
  background-position: -8px -114px;
  margin: 10px;
}

.player {
  width: 15px;
  height: 22px;
  background-image: url('../sprites/characters-min.png');
  background-position: -9px -42px;
  margin: 10px;
}

.menu {
  position: absolute;
  width: 30vw;
  height: 98vh;
  top: 0;
  right: 0;
}

.tile-selector {
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  height: 500px;
  background-color: white;
}

.tile-list div {
  cursor: pointer;
}

.tile-list div:hover {
  opacity: .5;
}

.wall {
  height: 30px;
  width: 30px;
  background-color: rgb(38, 38, 35);
  display: block;
  margin: 10px;
}

.currently-selected-tile {
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  min-width: 30px;
  min-height: 30px;
  border: 1px solid black;
}
